$icomoon-font-path: "fonts" !default;

$icon-simple-budget: \e92a;
$icon-airplane: \e900;
$icon-android: \e901;
$icon-card: \e902;
$icon-babymilk: \e903;
$icon-bag: \e904;
$icon-balloon: \e905;
$icon-bandage: \e906;
$icon-bikini: \e907;
$icon-birthday-cake: \e908;
$icon-bread: \e909;
$icon-call: \e90a;
$icon-can-water: \e90b;
$icon-car: \e90c;
$icon-chair: \e90d;
$icon-chart: \e90e;
$icon-christmas: \e90f;
$icon-cocktail: \e910;
$icon-control-pad: \e911;
$icon-muffin: \e912;
$icon-tool: \e913;
$icon-faucet: \e914;
$icon-first-aid: \e915;
$icon-shoe: \e916;
$icon-ice: \e917;
$icon-pool: \e918;
$icon-light-bulb: \e919;
$icon-mask: \e91a;
$icon-mobile: \e91b;
$icon-music: \e91c;
$icon-piggy-bank: \e91d;
$icon-pizza: \e91e;
$icon-sewing-machine: \e91f;
$icon-sign-board: \e920;
$icon-smartphone: \e921;
$icon-sock: \e922;
$icon-spoon-fork: \e923;
$icon-store: \e924;
$icon-transport: \e925;
$icon-tooth: \e926;
$icon-train: \e927;
$icon-cart: \e928;
$icon-repair: \e929;

