{% extends "frame.html" %}

{% block content %}

{% if transactions %}
    <h2>Transactions of {{account}}</h2>
    
    <table class="table table-striped transactions">
        <thead>
            <tr>
                <th class="text-left">Date</th>
                <th class="text-left">Category</th>
                <th class="text-left">Description</th>
                <th class="text-left">Amount</th>
            </tr>
        </thead>
        
        <tbody>
            {% for transaction in transactions %}
                <tr class="transaction">
                    <td>{{transaction.date}}</td>
                    <td><p class="icon-{{transaction.category.get_icon}}" title="{{transaction.category}}" tooltip="{{transaction.category}}"></p></td>
                    <td><a href="/savings/transaction/{{ transaction.id }}">{{transaction.description}}</a></td>
                    <td><span class="badge badge-pill {% if not transaction.is_spending %} badge-success{% else %} badge-danger{% endif %}">{{transaction.amount}} €</span></td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2"></th>
                <th class="text-left">Balance</th>
                <th class="text-left">{{account.balance}} €</th>
            </tr>
        </tbody>
    </table>

{% else %}
    <p>No transactions yet in this account.</p>
{% endif %}

{% endblock %}