<a href="/savings/">Back</a>
<h1>Budget Planner App</h1>
{% if transactions %}
    <h2>Transactions of {{account}}</h2>
    
    <ul class="transaction-list">
        <table border="1">
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            
        {% for transaction in transactions %}
            <tr>
                <td>{{transaction.category}}</td>
                <td><a href="/savings/transaction/{{ transaction.id }}">{{transaction.description}}</a></td>
                <td {% if not transaction.is_spending %}class="positive"{% endif %}>{% if transaction.is_spending %}-{% endif %}{{transaction.amount}}</td>
                <td>{{transaction.date}}</td>
            </tr>
        {% endfor %}
            <tr>
                <th colspan="2" style="text-align: right">Sum</th>
                <th>{{account.balance}}</th>
                <th></th>
            </tr>
        </table>

{% else %}
    <p>No transactions yet in this account.</p>
{% endif %}