{% extends "frame.html" %}
{% load static %}

{% block content %}

{% if account_list %}
    <h2>Accounts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left">Account name</th>
                <th class="text-left">Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for account in account_list %}
            <tr>
                <td>
                    <a class="name" href="account/{{ account.id }}">
                        <img class="bank-logo" src="/static/images/{{ account.bank.logo.name }}" width="50" height="50" />
                        <span>{{ account.name }}</span>
                    </a>
                </td>
                <td>
                    <p class="balance{% if account.balance >= 0 %} positive{% endif %}">
                        {{ account.balance }} €
                    </p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No accounts created yet.</p>
{% endif %}

{% endblock %}