<h1>Budget Planner App</h1>
{% if account_list %}
    <h2>Accounts</h2>
    <ul class="account-list">
    {% for account in account_list %}

        <li class="account">
            <a class="name" href="account/{{ account.id }}">{{ account.name }} 
            {% if account.owner is not None %} 
                ({{ account.owner }})
            {% endif %}
            </a>
            <p class="balance{% if account.balance >= 0 %} positive{% endif %}">
                {{ account.balance }}
            </p>
        </li>

    {% endfor %}
    </ul>
{% else %}
    <p>No accounts created yet.</p>
{% endif %}