{% extends "frame.html" %}
{% load bootstrap4 %}

{% block content %}

<h1>Transaction View</h1>

<form class="update_transaction" action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Update Transaction</button>
    {% endbuttons %}
</form>

{% endblock %}

{% comment %} Empty quick add block because it makes no sense to show a shortcut on the very page it leads to {% endcomment %}
{% block quick_add_transaction %}{% endblock quick_add_transaction %}