{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="{%  static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{%  static '/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#661da3">
    <meta name="theme-color" content="#661da3">

    {% block title %}
        <title>SimpleBudget</title>
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Lato Webfont loaded from Google Webfonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Icon fonts -->
    <link href="{% static 'css/ext/open-iconic-bootstrap/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/ext/budget_planner/style.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/budget.css' %}" rel="stylesheet">
</head>
<body>

    <header>
        <a href="{% url 'index' %}">
            <h1 style="background-image: url({% static 'images/simplelogo_white.png' %})">SimpleBudget</h1>
        </a>
        
        <div class="userinfo">
            <p>
            {% if user and user.first_name %}
                Hi {{user.first_name}}!
            {% elif not user.first_name and user.username%}
                Hi {{user.username}}!
            {% endif %}
            
            {% if user.is_authenticated %}
                 | <a href="{% url 'logout' %}"><span class="oi oi-account-logout"></span> Logout</a>
            {% else %}
                <a href="{% url 'login' %}"><span class="oi oi-account-login"></span> Sign in</a>
            {% endif %}
            </p>
        </div>
    </header>

    {% comment %} //// Quick Add Transaction Button, floating on top of everything in the bottom right corner {% endcomment %}
    {% block quick_add_transaction %}
        <div class="quick_add_container">
            {% comment %} <a class="quick_add_transaction" href="/savings/quick_add_transaction">Quick add transaction</a> {% endcomment %}
            <a href="/quick_add_transaction" class="btn btn-primary">Quick Add Transaction</a>
        </div>
    {% endblock quick_add_transaction %}

    {% comment %} //// Notification of success, error and information, foating on top of everything at the top middle  {% endcomment %}
    {% if return_state %}
        <div class="alert alert-{{return_state.state}} alert-dismissible fade show" role="alert">
            <p><strong>{{ return_state.title }}</strong><br>
            {{ return_state.body }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- JavaScript at the end cuz that's how I learnt it-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/budget.js' %}"></script>

    <script>
        $.ready(function() {
            $.initGUI()
            if ($('.alert').length >= 1) {
                console.log('Detected alert')
                window.setTimeout(() => {
                    $('.alert').alert('close')
                }, 1000);
            }
        })
        
    </script>
</body>
