/* line 3, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 7, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
svg-icon {
  height: 64px;
  width: 64px;
  margin: 10px;
}

/* line 13, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
body > .container {
  padding-top: 60px;
  font-weight: 300;
}

/* line 16, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
body > .container h2 {
  font-weight: 200;
  font-style: italic;
  font-size: 17pt;
}

/* line 23, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
header {
  background-color: #57188e;
  color: white;
  overflow: hidden;
  padding: 10px;
}

/* line 28, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
header a, header a:hover {
  color: white;
  text-decoration: none;
}

/* line 32, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
header h1 {
  float: left;
  font-size: 15pt;
  font-weight: 300;
  font-style: italic;
  width: 20%;
  margin: 0;
  padding-left: 42px;
  line-height: 170%;
  background-size: 17%;
  background-repeat: no-repeat;
}

/* line 44, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
header .userinfo {
  color: white;
  font-size: 12pt;
  float: right;
  width: 50%;
  text-align: right;
  padding-right: 3%;
}

/* line 51, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
header .userinfo p {
  margin: 0;
}

/* line 54, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
header .userinfo a {
  color: white;
}

/* line 61, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
.logo-container .logo-claim {
  font-weight: 300;
  font-style: italic;
  font-size: 27pt;
  margin-bottom: 10px;
}

/* line 70, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 75, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
.form-signin .checkbox {
  font-weight: 400;
}

/* line 79, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

/* line 86, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 89, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 94, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 102, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
table.transactions .badge.badge-pill {
  font-size: 100%;
  font-weight: 400;
}

/* line 109, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
#quick_add_transaction {
  font-size: 800%;
  font-weight: 200;
  color: white;
  border-radius: 50% 50%;
  background-color: #57188e;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
  padding-left: 9pt;
  line-height: 68%;
  text-decoration: none;
  transition: transform 0.35s ease-in-out;
}

/* line 124, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
#quick_add_transaction:hover {
  transform: rotate(135deg);
}

/* line 128, /Users/noel/Library/Mobile Documents/com~apple~CloudDocs/Projekte/budget_app/savings/static/sass/budget.scss */
#quick_add_transaction .menu .entry {
  border-radius: 50% 50%;
}

/*# sourceMappingURL=../css/budget.map */