body {
  font-family: 'Lato', sans-serif;
  padding-bottom: 40px;
}

body > .container {
  padding-top: 80px;
  padding-bottom: 40px;
  font-weight: 300;
}

body > .container h2 {
  font-weight: 200;
  font-style: italic;
  font-size: 17pt;
}

body > .container h3 {
  font-weight: 300;
  font-style: normal;
  font-size: 15pt;
}

body .alert {
  position: fixed;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
  top: 70px;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 15pt;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #57188e;
  color: white;
  overflow: hidden;
  padding: 10px;
}

header a, header a:hover {
  color: white;
  text-decoration: none;
}

header h1 {
  float: left;
  font-size: 15pt;
  font-weight: 300;
  font-style: italic;
  width: 20%;
  margin: 0;
  padding-left: 42px;
  line-height: 170%;
  background-size: 33px;
  background-repeat: no-repeat;
}

header .userinfo {
  color: white;
  font-size: 12pt;
  float: right;
  width: 50%;
  text-align: right;
  padding-right: 3%;
  padding-top: 5px;
}

header .userinfo p {
  margin: 0;
}

header .userinfo a {
  color: white;
}

.logo-container .logo-claim {
  font-weight: 300;
  font-style: italic;
  font-size: 27pt;
  margin-bottom: 10px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

table.transactions {
  margin-bottom: 30px;
}

table.transactions .badge.badge-pill {
  font-size: 100%;
  font-weight: 400;
}

table.transactions td.description {
  width: 100%;
}

table.transactions td.amount {
  text-align: right;
}

table.transactions tr.balance {
  font-weight: 700;
}

table.transactions tr.balance td.balance {
  white-space: nowrap;
}

table.transactions tr.sum {
  font-weight: 700;
}

#transactions_accordions h3 {
  border-top: 1px solid lightgrey;
  text-decoration: none;
  display: block;
  text-align: left;
}

form.quick_add_transaction .btn, form.add_transaction .btn, form.update_transaction .btn {
  width: 100%;
}

@media (min-width: 375px) {
  form.quick_add_transaction .btn, form.add_transaction .btn, form.update_transaction .btn {
    width: auto;
  }
  form .delete_transaction.btn {
    float: right;
    display: inline;
    position: relative;
    bottom: 54px;
  }
}

@media (max-width: 576px) {
  table.transactions thead {
    display: none;
  }
  table.transactions td {
    padding-left: .35rem;
    padding-right: .35rem;
  }
  form.quick_add_transaction {
    padding: 20px;
  }
}

.quick_menu_container {
  z-index: 1;
  position: fixed;
  right: 10px;
  bottom: 10px;
  max-width: 240px;
}

.quick_menu_container .btn {
  background-color: #57188e;
  border-color: black;
}

.quick_menu_container .menu_trigger {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  text-align: left;
  font-size: 800%;
  font-weight: 200;
  color: white;
  border-radius: 50% 50%;
  background-color: #57188e;
  padding-left: 9pt;
  line-height: 68%;
  text-decoration: none;
  transition: transform 0.35s ease-in-out;
  z-index: 99;
}

.quick_menu_container .menu_trigger:hover {
  transform: rotate(135deg);
}

.quick_menu_container .menu_entry {
  position: relative;
  float: right;
  right: 0;
  background-color: #57188e;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  z-index: 1;
  transition: top 0.25s ease-in-out;
}

.quick_menu_container .menu_entry:nth-child(2) {
  top: 124px;
}

.quick_menu_container .menu_entry:nth-child(3) {
  top: 76px;
}

.quick_menu_container .menu_entry:nth-child(4) {
  top: 28px;
}

.quick_menu_container .menu_entry:nth-child(5) {
  top: -20px;
}

.quick_menu_container.active .menu_entry {
  top: -105px;
}

.quick_menu_container.active .menu_trigger {
  transform: rotate(135deg);
}
